# bytecodes
*.class

# TestContainers
*.db

# Compiler, settings, logging or dep management folder
.gradle/
build/
target/
.project
.classpath
.settings/
*.log

# Java Compression Package
*.jar
*.war
*.ear

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
