# Tell lombok this is the root directory
config.stopBubbling = true

# Add the @lombok.Generated annotations to all generated nodes; useful for JaCoCo
lombok.addLombokGeneratedAnnotation = true

# Automatically generate @ConstructorProperties annotations
lombok.anyConstructor.addConstructorProperties = true
